* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'Josefin Sans', sans-serif;
}

.banner{
  background: url('./../public/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.banner_content{
  display:flex;
  align-items: center;
  height: 100vh;
}

.container{
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}
.banner_text{
  width: 500px;
}
.banner_text h1{
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}
.banner_text h3{
  font-size: 50px;
}
.banner_text p{
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}

.banner_btn{
  margin-top: 20px;
}
.btn{
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 18px;
  padding: 20px 40px;
  background: rgb(225,79,78);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover{
  color: #252525;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar__text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  width: 40%;
}
.logo img {
  width: 220px;
}
.navbar__ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navbar__ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.navbar_ul .active{
  color: rgb(254, 115, 64);
}

.about{
  padding: 45px;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6{
  width: 48%;
  
}

.about h3{
  color:rgba(37 ,37,37 ,0.7);
  font-size: 30px;

}
.about h1{
 margin-top: 2rem;
  font-size: 40px;
  color: #252525;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}
.about p{
  margin-top: 2rem;
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 300;
}
.about-btn{

  margin-top: 50px;
}

.about_img{
  width: 500px;
  height: 22rem;
}
.about_img img{
  width: 100%;
}
.shop{
  background: url("./../public/img/bg.jpg");
  height: 450px;
  background-attachment: fixed;
  width: 100%;
}

.shop_text{
  height: 450px;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}
.shop_text h1{
  font-size: 40px;
  display: flex;
   line-height: 60px;
   font-style: normal;
   letter-spacing: 0.5px;  
}
.shop-btn{
 margin-top: 35px;
}

.content{
  margin-left: 10px;
}

.col-3{
  width: 100%;
  padding: 80px 0;
  background: url("./../public/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
.client{
  text-align: center;
}
.client h1{
     font-style: 45px;
}
.client p{
  font-style: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.3333%;
}
.prices{
  width: 100%;
  padding: 80px 0;
}
.price{
  padding: 20px;
  text-align: center;

}
.prices .row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.price_img{
  width: 100%;
  
}
.price_img img{
  width: 250px;
}
.price_heading,.price_rs{
  color: black;
  margin-top: 20px;
  font-size: 30px;
}

.price_text{
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
}



@media (max-width: 700px) {
  .navbar__text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .banner__text {
    width: auto;
  }
  .banner__text h3 {
    font-size: 25px !important;
  }
  .banner__text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    margin-top: 20px;
  }
  .banner__text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }
  .navbar__ul {
    width: 100%;
    justify-content: center;
  }
  .navbar__ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }
  .client {
    margin: 20px 0;
  }
  .about h1 {
    font-size: 25px;
  }
  .shop h1 {
    font-size: 25px;
  }
  .menu h1 {
    font-size: 25px;
  }
}
